.slide{
    border: top 100px;
    height: auto;
    display: flex;
    left: 0;
    animation-name: slider;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear; 
    
}

.slide:hover{
    animation-play-state: paused;
}


.slide2 {
    border: top 100px;
    height: auto;
    display: flex;
    left: 0;
    top:800px;
    animation-name: slider;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-direction: reverse;

}

.slide2:hover {
    animation-play-state: paused;
}

@keyframes slider {
    from {
        transform: translateX(3000px)
    }

    to {
        transform: translateX(-3000px)
    }

}

.card{
    width: 250px;
    margin-right: 10px;
    transition: 0.5s;
}

.card:hover{
    scale: 105%;
}

.input:invalid[focused="true"] {
    border: solid;
    border-color: rgb(185 28 28 );
    border-width: 2px;
}

.input:invalid[focused="true"] ~ span {
    display: block;
}

.input:invalid[focused="true"] ~ div {
    top: 0px;
    bottom: 24px;
    
}


.cover {
    
    transition: 1s;
}

.cover div {
    transform: translateY(100%);
    transition: transform  3s ease-in-out, opacity 3s;
}

.cover h1{
    transform: translateY(-300%);
    transition: transform 2s 1s;
}

.cover:hover div {
    opacity: 0.5;
    transform: translateY(0%);
    
}

.cover:hover h1{
    transform: translateY(100%);
}


.first{
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ulReverse{
    transform: translateY(-100%);
}

.ul{ 
    transform: translateY(0%);  
}

@media (min-width: 768px) {
    .ulReverse {
        transform: translateY(0%);
        
    }
}
