@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

:root {
  --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@layer {

  .GroupOne {
  
      @apply bg-white flex flex-col m-5 p-5 rounded-md gap-2 justify-between text-black col-span-3
    }

  .Group{
    
      @apply bg-white flex sm:flex-col lg:flex-row m-5 p-5 rounded-md gap-1 justify-between  text-black col-span-3 sm:col-span-1 
    }

        .Skill {
          @apply bg-green-100 p-5 rounded-md flex md:flex-col justify-between 
        }

        
  }
  

  .roundBox{
    @apply flex justify-center items-center
  }
.Inner {
  @apply grid-cols-1 grid lg:grid-cols-5 md:grid-cols-3 justify-between gap-5
}

.Header{
  @apply text-green-500 text-2xl text-center
}
.Heading {
  @apply text-lg font-extrabold
}

.subHeading {
  @apply text-sm font-bold
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb {
  background: #2e2e2e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner{
  background: none;
}